
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/ErrorStyle.css");
}
<head>

</head>
<body>
    <div class="errorclass">
        <h1>Whoooopss.... Error 404</h1>
        <h4>Looks like something goes wrong!</h4>
        <h4>This page you clicked may be broken or have been removed.</h4>
        <p>Visit the <a href="~/Home/Index">Homepage</a> please </p>
    </div>
</body>

